---
import Layout from "../layouts/Layout.astro";
import Logo from "../icons/Logo.astro";
---

<Layout title="Wizard Score Keeper">
    <div class="hero min-h-full">
        <div class="hero-content text-center flex flex-col">
            <div class="overflow-x-auto">
                <h1 class="text-6xl inline-flex gap-2">
                    <Logo classes="w-[3.75rem] h-[3.75rem]" />
                    Wizard Score Keeper
                </h1>
                <p class="text-lg mb-12">
                    A simple score keeper for the card game Wizard.
                </p>
                <pre>Please select the amount of players:</pre>
            </div>
            <div class="flex flex-row gap-4">
                <a
                    href="/wizard-score-keeper/names?p=3"
                    class="btn btn-circle btn-accent btn-outline"
                >
                    3
                </a>
                <a
                    href="/wizard-score-keeper/names?p=4"
                    class="btn btn-circle btn-accent btn-outline"
                >
                    4
                </a>
                <a
                    href="/wizard-score-keeper/names?p=5"
                    class="btn btn-circle btn-accent btn-outline"
                >
                    5
                </a>
                <a
                    href="/wizard-score-keeper/names?p=6"
                    class="btn btn-circle btn-accent btn-outline"
                >
                    6
                </a>
            </div>
        </div>
    </div>
</Layout>
