---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Wizard Score Keeper">
    <div class="hero min-h-full w-screen md:w-[75vw] lg:w-[60vw] m-auto">
        <div id="wrapper" class="grid w-full text-center"></div>
    </div>
</Layout>

<script src="../components/wizard.ts"></script>
